.header-container {
  background-color: black;
  color: white;
  padding: 3px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  /* color: white; */
  font-size: 30px;
  font-weight: 700;
  padding-left: 20px;
}
.header-nav {
  display: flex;
  padding-right: 30px;
  /* color; */
}
.header-nav p {
  margin-left: 20px;
}
.header-nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.header-nav a:hover {
  color: orange;
  font-size: 22px;
}
